{% block tab_content %} 
<nav id="tab">
			<ul>     
				<li><a href="/cgi-bin/locus.fpl?dbid=" class='tab-link'><span>Summary</span></a></li>     
				<li><a href="/cgi-bin/locusHistory.pl?dbid=" class='tab-link'><span>Locus History</span></a></li>
				<li><a href="/cgi-bin/reference/litGuide.pl?dbid=" class='tab-link'><span>Literature</span></a></li>     
				<li><a href="/cgi-bin/GO/goAnnotation.pl?dbid=" class='tab-link'><span>Gene Ontology</span></a></li>     
				<li><a href="/cgi-bin/phenotype/phenotype.fpl?dbid=" class='tab-link'><span>Phenotype</span></a></li>     
				<li><a href="/cgi-bin/interaction.fpl/" class='tab-link'><span>Interactions</span></a></li>     
				<li><a href="/cgi-bin/expression/expressionConnection.pl?type=summary&amp;dbid=" class='tab-link'><span>Expression</span></a></li>     
				<li id="current"><span>Regulation</span></li>
				<li><a href="/cgi-bin/protein/proteinPage.pl?dbid=" class='tab-link'><span>Protein</span></a></li>     
				<li><a href="/cgi-bin/locusWiki.pl?dbid=" class='tab-link'><span>Wiki</span></a></li>   
			</ul>
		</nav>
		<div id="shaded_line"> 
			<ul id="subtabs" class="inline no_display">   
				<li><a href="/cgi-bin/protein/proteinPage.pl?dbid=" class='tab-link'>Protein Info</a>  ,  </li>   
				<li><a href="/cgi-bin/protein/domainPage.pl?dbid=" class='tab-link'>Domains/Motifs</a>  ,  </li>   
				<li><a href="/cgi-bin/protein/proteinProperty.pl?dbid=" class='tab-link'>Physico-chemical Props</a>  </li>
			</ul>
 		</div>

{% endblock %}