{% extends 'base.html' %}

{% block title %} {{ title }} Regulation {% endblock %}

{% block page_title %}	<div id="page-title">

		<h1><red>{{ title }}</red> Regulation</h1>
		<a href="/help/PhysGenIntDetailsHelp.html" class="help">
			<img src="http://fasolt.stanford.edu/images/icon_help_circle_dark.png" alt="Help">
		</a>
		</div>
{% endblock %}
{% block page_content %}
	<form><input type="hidden" id="query" value="{{ query }}"><input type='hidden' id='protein_name' value="{{ protein }}"><input type='hidden' id='dbid' value="{{ dbid }}"><input type='hidden' id='display' value="{{ display }}"><input type='hidden' id='title' value="{{ title }}"></form>

	<div class="grid-container" id='reg_page'>
		
		<div id="main">
		<div class="row">

		{% include "regulation-tabs.html" %}
		</div> <!-- end row -->

		<div class='container-fluid'>
		<div class='row'>
			
		{% include "stacked-nav.html" %}


		<div id="page-content" class='span9'> 
		
			<section id='summary'></section>
			<section id='refs'></section>			
			<section id='domains'></section>
				<section id='binding-site-seq-logos'></section> 
				<section id='regulatory-targets'></section>
				<section id='shared-GO-processes'></section>
				<section id='regulators'></section>
	
			</div><!-- #page-content -->
			
		</div> <!-- end row-fluid -->
		</div> <!-- end container-fluid -->
			
		</div><!-- #main -->
	</div><!-- .grid-container -->	

{% endblock %}

{% block special_js %} <script src="{{ url_for('static', filename='js/regulation.js') }}"></script>{% endblock %}

	
