{% extends 'base.html' %}

{% block title %} {{ query }} Regulation {% endblock %}

{% block page_title %}	<div id="page-title">

		<h1><a href="#"><span class='sect-title'></span> </a></h1>
		<a href="http://www.yeastgenome.org/help/PhysGenIntDetailsHelp.html" class="help">
			<img src="http://www.yeastgenome.org/images/icon_help_circle_dark.png" alt="Help">
		</a>
		</div>
{% endblock %}

{% block page_content %}
	<form><input type="hidden" id="query" value="{{ query }}"></form>

	<div class="grid-container">
		
		<div id="main" class="row">

		{% include "regulation-tabs.html" %}

		{% include "stacked-nav.html" %}


			<div id="page-content" class="span9"> 
		
				<h1 id="top"><a href="#" class='sect-title'></a> Regulation</h1>
				<section id='summary'></section>
				<section id='refs'></section>
				<section id='binding-site-seq-logos'></section>
				<section id='predicted-binding-sites'></section>
				<section id='binding-site-summary'></section>
				<section id='regulatory-targets'></section>
				<section id='shared-GO-processes'></section>
				<section id='domains'></section>
				<section id='regulators'></section>
	
			</div><!-- #page-content -->

		</div><!-- .grid-container -->	
	</div><!-- #main -->

{% endblock %}

{% block special_js %} <script src="{{ url_for('static', filename='js/regulation.js') }}"></script>{% endblock %}

	
