<div id="page-nav-container" class="span3 sidenav">
	<ul id="page-nav" class="nav nav-tabs nav-stacked side-page-nav affix-top">
		<li><a href="#summary">Summary</a></li>
		<li><a href="#refs">References</a></li>
		<li><a href="#binding-site-seq-logo">Binding Site Sequence Logo</a></li>
		<li><a href="#predicted-binding-sites">Predicted Binding Sites</a></li>
		<li><a href="#binding-site-summary">Summary of Binding Sites</a></li>
		<li><a href="#regulatory-targets">Regulatory Targets</a></li>
		<li><a href="#shared-GO-processes">Shared GO Processes</a></li>
		<li><a href="#domains">Domains</a></li>
		<li><a href="#regulators">Regulators</a></li>
	</ul>
</div><!-- #page-nav -->
	